:root {
  --c-0: #ffffff;
  --c-1: #f7f7f7;
  --c-2: #ededed;
  --c-3: #dedede;
  --c-4: #cccccc;
  --c-5: #b2b2b2;
  --c-6: #9c9c9c;
  --c-7: #717171;
  --c-8: #595959;
  --c-9: #404040;
  --c-10: #2e2e2e;
  --c-11: #111111;
  --c-12: #000000;
  --cp-1: #ffbb00;
  --cp-2: #e4a30b;
  --cp-3: #a66f00;
  --cp-4: #664400;
  --cp-5: #332200;
}

.c-0 {
  color: var(--c-0);
}
.c-1 {
  color: var(--c-1);
}
.c-2 {
  color: var(--c-2);
}
.c-3 {
  color: var(--c-3);
}
.c-4 {
  color: var(--c-4);
}
.c-5 {
  color: var(--c-5);
}
.c-6 {
  color: var(--c-6);
}
.c-7 {
  color: var(--c-7);
}
.c-8 {
  color: var(--c-8);
}
.c-9 {
  color: var(--c-9);
}
.c-10 {
  color: var(--c-10);
}
.c-11 {
  color: var(--c-11);
}
.c12 {
  color: var(--c-12);
}
.cp-1 {
  color: var(--cp-1);
}
.cp-2 {
  color: var(--cp-2);
}
.cp-3 {
  color: var(--cp-3);
}
.cp-4 {
  color: var(--cp-4);
}
.cp-5 {
  color: var(--cp-5);
}

/* background */
.bg-0 {
  background: var(--c-0);
}
.bg-1 {
  background: var(--c-1);
}
.bg-2 {
  background: var(--c-2);
}
.bg-3 {
  background: var(--c-3);
}
.bg-4 {
  background: var(--c-4);
}
.bg-5 {
  background: var(--c-5);
}
.bg-6 {
  background: var(--c-6);
}
.bg-7 {
  background: var(--c-7);
}
.bg-8 {
  background: var(--c-8);
}
.bg-9 {
  background: var(--c-9);
}
.bg-10 {
  background: var(--c-10);
}
.bg-11 {
  background: var(--c-11);
}
.bg-12 {
  background: var(--c-12);
}
.bg-p-1 {
  background: var(--cp-1);
}
.bg-p-2 {
  background: var(--cp-2);
}
.bg-p-3 {
  background: var(--cp-3);
}
.bg-p-4 {
  background: var(--cp-4);
}
.bg-p-5 {
  background: var(--cp-5);
}
