/* Flex */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.section {
  padding: 3rem 0;
}

/* Layout */
.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

/* Button */

.btn-primary {
  transition: 0.3 ease;
  display: block;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#ffbf00, #f2a50c);
  color: var(--cp-5);
  border-radius: 5px;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.btn-secundary {
  transition: 0.3 ease;
  display: block;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: var(--c-10);
  color: var(--c-2);
  border-radius: 5px;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.btn-primary:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.btn-secundary:hover {
  background: #2a2a2a;
}

/* Styles */
.yellow-point::after {
  content: ".";
  color: var(--cp-1);
}

.img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Forms */

.form__row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.form__group--checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form__label {
  color: var(--c-11);
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

.form__input,
.form__textarea {
  padding: 1rem;
  background: var(--c-1);
  border: 1px solid var(--c-2);
  color: var(--c-7);
}

.form__input--checkbox {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  background: var(--c-1);
  border: 1px solid var(--c-4);
  border-radius: 5px;
}

.form__input--checkbox:checked {
  background-color: var(--cp-1); /* Verde */
  border-color: var(--cp-1);
}

.form__input--checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input:focus,
.form__textarea:focus {
  border: 2px solid var(--cp-1); /* Cor da borda quando o input estiver em foco */
  outline: var(--cp-1); /* Remove a borda padrão de foco */
}

@media (min-width: 768px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .form__row {
    flex-direction: row;
  }

  .btn-primary {
    padding: 1rem 1.5rem;
  }
}
