:root {
  /* Colors */
  --c-0: #ffffff;
  --c-1: #f7f7f7;
  --c-2: #ededed;
  --c-3: #dedede;
  --c-4: #cccccc;
  --c-5: #b2b2b2;
  --c-6: #9c9c9c;
  --c-7: #717171;
  --c-8: #595959;
  --c-9: #404040;
  --c-10: #2e2e2e;
  --c-11: #111111;
  --c-12: #000000;
  --cp-1: #ffbb00;
  --cp-2: #e4a30b;
  --cp-3: #a66f00;
  --cp-4: #664400;
  --cp-5: #332200;
}
