.hero {
  padding: 2rem 0;
  background: var(--c-11);
  box-shadow: inset 0 -6rem var(--c-0);
}

.hero__title {
  margin-bottom: 1rem;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr;
}

.hero__frame {
  height: 400px;
}

@media (min-width: 768px) {
  .hero {
    padding: 0;
    box-shadow: inset 0 -4rem var(--c-0);
    background: var(--c-12) url("../../images/dec/bottom-left.svg") no-repeat;
    background-position: 1rem 35rem;
  }

  .hero__title {
    margin-bottom: 2rem;
  }

  .hero__content {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }

  .hero__frame {
    height: 700px;
  }
}
