.insuranceHero {
  background: var(--c-11) url("../../../images/dec/top-right.svg") no-repeat
    calc(100% - 2rem) calc(0% + 2rem);
}

.insuranceInfo,
.insuranceQuestions {
  padding: 8rem 0;
}

.insuranceHero__subtitle {
  text-transform: uppercase;
}

.insuranceInfo__list {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.insuranceInfo__title {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .insuranceInfo__title {
    margin-bottom: 4rem;
  }

  .insuranceInfo__list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3rem;
  }
}
