.bike {
  display: grid;
  padding: 4rem 1rem;
}

.heroProducts {
  background: var(--c-11) url("../../../images/dec/top-right.svg") no-repeat;
  background-position: 100% 0;
}

.heroProducts__text {
  text-transform: uppercase;
}

/* Products List */

.bike__frame {
  position: relative;
  margin-bottom: 2rem;
}

.bike__image {
  max-height: 300px;
}

.bike__price {
  position: absolute;
  top: 1rem;
  right: 0;
  background: var(--c-12);
  padding: 0.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bike__title {
  position: relative;
}

.bike__title::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.5rem;
  background: var(--cp-1);
  top: -1rem;
}

.bike__content {
  display: grid;
  grid-template-columns: 1fr;
}

.bikeInfo__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.bikeInfo__item {
  align-items: center;
  gap: 0.5rem;
}

.bikeInfo__item img {
  width: 1.5rem;
  height: 1.5rem;
}

.bikeInfo__item p {
  text-transform: capitalize;
}

.bike__button {
  transition: 0.3 ease;
  padding-right: 3rem;
  background: var(--cp-1) url("../../../images/icones/seta.svg") no-repeat;
  background-position: calc(100% - 1rem);
}

.bike__button:hover {
  background: var(--cp-2) url("../../../images/icones/seta.svg") no-repeat;
  background-position: calc(100% - 1rem);
}

@media (min-width: 768px) {
  .bike__content {
    grid-template-columns: 1fr 200px;
    align-items: end;
  }

  .bikeInfo__list {
    margin-bottom: 0;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .bike {
    grid-template-columns: minmax(400px, 560px) minmax(400px, 560px);
    gap: 2rem;
    justify-content: center;
    align-items: center;

    background: url("../../../images/dec/top-right.svg") calc(100% - 7rem)
      calc(0% + 3rem) no-repeat;
  }

  .bike:nth-child(even) {
    box-shadow: 30vw 0 0 0 var(--c-0) inset;
    background: var(--c-12) url("../../../images/dec/top-right.svg")
      calc(100% - 7rem) calc(0% + 3rem) no-repeat;
  }

  .bike:nth-child(even) .bike__title {
    color: var(--c-0);
  }

  .bike:nth-child(even) .bike__text,
  .bike:nth-child(even) .bikeInfo__item {
    color: var(--c-5);
  }

  .bike__frame {
    max-width: 560px;
    max-height: 300px;
    margin-bottom: 0;
  }
}
